form {
    display: flex;
    flex-direction: column;
    text-align: center;
}

input, label {
    border: 1px solid black;
    margin: 1px;
}

input[type=radio] {
    display: flex;
    flex-direction: column;
    text-align: center;
}
